.timeline-background {
  background-color: $color-cream;
}

.timeline-container {
  background: url(../images/timeline.png) no-repeat top center fixed;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  /* grid CSS styles */
  display: grid;
  justify-items: center;
  grid-template-rows: 10rem repeat(6, min-content) 10rem;
  grid-template-columns: 1fr 15rem 1fr;
  grid-template-areas: ". . ."
                       "TL1st . ."
                       ". . TL2nd"
                       "TL3rd . ."
                       ".  . TL4th"
                       "TL5th . ."
                       ". . TL6th"
                       ". . .";

  &__item {
      background-color: $color-navy;
      color: $color-off-white;
      padding: 2rem;
    }
  }

.first-timeline {
  grid-area: TL1st;
}

.second-timeline {
  grid-area: TL2nd;
}

.third-timeline {
  grid-area: TL3rd;
}

.fourth-timeline {
  grid-area: TL4th;
}

.fifth-timeline {
  grid-area: TL5th;
}

.sixth-timeline {
  grid-area: TL6th;
}
