/*
 0-600px : Phone
 600-900px : Tablet portrait
 900-1200px : Tablet landscape
 [1200px- 1800px] is where one normal styles apply.
 1800px+ : Big Desktop

 $breakpoint argument choices :
 -phone
 -tab-port
 -tab-land
 -big-desktop

 1em - 16px
 */
/*
COLORS:
*/
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

/* typography */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

/* navbar */
.navbar {
  letter-spacing: .5rem; }

/* navbar links */
a.small-nav__link {
  color: #E7E7F2;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1.5px 1.5px black; }
  a.small-nav__link:link, a.small-nav__link:visited {
    padding: 1rem 2rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #606060 50%);
    background-size: 220%;
    transition: all .4s; }
  a.small-nav__link:hover, a.small-nav__link:active {
    background-position: 100%;
    transform: translateX(1rem); }

/* typography for individual pages */
/* header text */
.heading-primary {
  /* Frekled Farmher title */ }
  .heading-primary__home {
    color: #E7E7F2; }
  .heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    backface-visibility: hidden;
    animation-duration: 2s;
    margin-bottom: 4rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .3rem;
    animation: moveInRight 2s;
    margin-bottom: 4rem; }

.portal-content {
  font-size: 1.7rem;
  font-weight: 300;
  text-align: center; }

.blog-title {
  color: #FFFDD0;
  display: block;
  padding-left: 8rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1rem; }
  .blog-title__date {
    padding: 1rem; }

.blog-text {
  color: #191970;
  text-align: left;
  font-size: 2rem;
  font-weight: 400; }
  .blog-text__paragraph {
    padding-bottom: 2.5rem; }

.page-content {
  color: #191970; }
  .page-content__title {
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    backface-visibility: hidden;
    animation-duration: 2s;
    margin-bottom: 4rem; }
  .page-content__description {
    font-size: 1.8rem;
    font-weight: 400;
    animation-name: moveInRight;
    backface-visibility: hidden;
    animation-duration: 2s;
    margin-bottom: 4rem; }

.timeline-container__item {
  color: white;
  font-size: 1.5rem; }

/* components */
.container {
  padding: 2rem; }

.lines {
  width: 100%;
  height: 45px;
  position: relative; }

.lines::after, .lines::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: #191970;
  width: 45%;
  top: 45%; }

.lines::after {
  left: 0; }

.lines::before {
  right: 0; }

.circle {
  height: 40px;
  width: 40px;
  border: 2px solid #191970;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #E7E7F2;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem black;
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-color: #E7E7F2;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #E7E7F2;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #E7E7F2 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: blue;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(10, 80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #606060;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

/* home features */
.header {
  position: relative;
  background: linear-gradient(rgba(25, 25, 112, 0.7), rgba(25, 25, 112, 0.9)), url("hannahImgSmall.png") no-repeat top center fixed;
  background-size: cover;
  height: 120vh; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 600px), only screen and (min-width: 800px) {
    .header {
      background: linear-gradient(rgba(138, 154, 91, 0.7), rgba(138, 154, 91, 0.9)), url("hannahImg.png") no-repeat top center fixed;
      background-size: cover;
      height: 100vh; } }
  .header__text-box {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.btn {
  height: 8rem;
  background-image: url("instagram.png");
  background-size: cover;
  background-position: center; }
  .btn:link, .btn:visited {
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all 2s;
    position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--white::after {
    background-color: #E7E7F2;
    opacity: 0.5;
    border-radius: .6rem; }

/* portal features */
.portal-content {
  background: linear-gradient(rgba(255, 253, 208, 0.5), rgba(255, 253, 208, 0.7)), url("dogInField.png") no-repeat top center fixed;
  background-size: cover;
  height: 100vh; }

.message-box {
  position: relative;
  top: 2rem;
  background-color: #FFFDD0;
  background-size: cover;
  height: 80vh;
  width: 80%;
  margin-left: 8rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); }
  .message-box__grid {
    position: relative;
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    grid-gap: 1rem;
    padding: 1rem;
    grid-template-areas: "story1 story2 story3" "story4 story5 story6"; }

.grid-entry {
  border: none;
  padding: 2% 5%;
  height: 100%;
  text-overflow: ellipsis;
  overflow-y: hidden;
  display: flex; }

.blog-link {
  width: 100%;
  margin: auto;
  text-align: center; }

.message-item1 {
  grid-area: story1;
  background-color: #191970; }

.message-item2 {
  grid-area: story2;
  background-image: url("sheepAndMountain.png");
  background-size: cover; }

.message-item3 {
  grid-area: story3;
  background-color: #191970; }

.message-item4 {
  grid-area: story4;
  background-image: url("sheepInGrass.png");
  background-size: cover; }

.message-item5 {
  grid-area: story5;
  background-color: #191970; }

.message-item6 {
  grid-area: story6;
  background-image: url("ewes.png");
  background-size: cover; }

/* blog features */
.blog-body {
  height: 100vh;
  display: grid;
  grid-template-rows: 2;
  grid-template-areas: "blogTitle" "blogText"; }

.blog-title {
  background-color: #191970;
  grid-area: blogTitle; }

.blog-content {
  padding: 15rem; }

.blog-text {
  grid-area: blogText;
  background-color: #FFFDD0; }

/* reasons features */
.page-content {
  background-color: #FFFDD0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 0.2fr 1fr 1.2fr 0.3fr;
  grid-template-areas: "title title navyBlue sheepImg1" "mossGreen sheepImg2 text ."; }
  .page-content__title {
    margin: 2rem;
    grid-area: title;
    align-self: center;
    justify-self: center; }
  .page-content__description {
    padding: 5rem;
    grid-area: text; }

.entries {
  padding-bottom: 1rem; }

.navy-blue {
  grid-area: navyBlue;
  background-image: linear-gradient(#FFFDD0, #8a9a5b);
  opacity: 0.7; }

.moss-green {
  grid-area: mossGreen;
  background-image: linear-gradient(#8a9a5b, #FFFDD0);
  opacity: 0.7; }

.sheep-image--first {
  grid-area: sheepImg1;
  background: url("ewes.png") left;
  background-size: cover; }

.sheep-image--second {
  grid-area: sheepImg2;
  background: url("sheepAndMountain.png") bottom;
  background-size: cover; }
