/*
 0-600px : Phone
 600-900px : Tablet portrait
 900-1200px : Tablet landscape
 [1200px- 1800px] is where one normal styles apply.
 1800px+ : Big Desktop

 $breakpoint argument choices :
 -phone
 -tab-port
 -tab-land
 -big-desktop

 1em - 16px
 */
/*
COLORS:
*/
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

/* typography */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

/* navbar */
.navbar {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: .5rem; }

/* navbar links */
a.small-nav__link {
  color: #E7E7F2;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1.5px 1.5px black; }
  a.small-nav__link:link, a.small-nav__link:visited {
    padding: 1rem 2rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #606060 50%);
    background-size: 220%;
    transition: all .4s; }
  a.small-nav__link:hover, a.small-nav__link:active {
    background-position: 100%;
    transform: translateX(1rem); }

/* typography for individual pages */
/* header text */
.heading-primary {
  /* Frekled Farmher title */ }
  .heading-primary__home {
    color: #E7E7F2; }
  .heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    backface-visibility: hidden;
    animation-duration: 2s;
    margin-bottom: 4rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .3rem;
    animation: moveInRight 2s;
    margin-bottom: 4rem; }

.page-content {
  color: #191970; }
  .page-content__title {
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    backface-visibility: hidden;
    animation-duration: 2s;
    margin-bottom: 4rem; }
  .page-content__description {
    font-size: 1.8rem;
    font-weight: 400;
    animation-name: moveInRight;
    backface-visibility: hidden;
    animation-duration: 2s;
    margin-bottom: 4rem; }

.timeline-container__item {
  color: white;
  font-size: 1.5rem; }

.small-nav {
  /* to go under the button element: */ }
  .small-nav__checkbox {
    display: none; }
  .small-nav__button {
    background-color: white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer; }
  .small-nav__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#8a9a5b, #000000);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .small-nav__nav {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.256, 1.55); }
  .small-nav__list {
    z-index: 2500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
  .small-nav__item {
    margin: 1rem; }
  .small-nav__checkbox:checked ~ .small-nav__background {
    transform: scale(80); }
  .small-nav__checkbox:checked ~ .small-nav__nav {
    opacity: 1;
    width: 100%; }
  .small-nav__icon {
    position: relative;
    margin-top: 3.5rem; }
    .small-nav__icon, .small-nav__icon::before, .small-nav__icon::after {
      width: 3rem;
      height: 2px;
      background-color: black;
      display: inline-block; }
    .small-nav__icon::before, .small-nav__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .small-nav__icon::before {
      top: -.8rem; }
    .small-nav__icon::after {
      top: .8rem; }
  .small-nav__button:hover .small-nav__icon::before {
    top: -1rem; }
  .small-nav__button:hover .small-nav__icon::after {
    top: 1rem; }

ul {
  list-style: none;
  font-size: 2.5rem;
  font-weight: 300; }

/* home features */
.header {
  position: relative;
  background: linear-gradient(rgba(138, 154, 91, 0.7), rgba(138, 154, 91, 0.9)), url(../images/hannahImgSmall.png) no-repeat top center fixed;
  background-size: cover;
  height: 120vh; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 600px), only screen and (min-width: 800px) {
    .header {
      background: linear-gradient(rgba(138, 154, 91, 0.7), rgba(138, 154, 91, 0.9)), url(../images/hannahImg.png) no-repeat top center fixed;
      background-size: cover;
      height: 100vh; } }
  .header__text-box {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.btn {
  height: 8rem;
  background-image: url(../images/instagram.png);
  background-size: cover;
  background-position: center; }
  .btn:link, .btn:visited {
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all 2s;
    position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--white::after {
    background-color: #E7E7F2;
    opacity: 0.5;
    border-radius: .6rem; }

/* portal features */
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: rgba(255, 253, 208, 0.8);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  min-height: 50rem; }
  .container__header {
    height: 7rem;
    background-color: #E7E7F2;
    border-bottom: #8a9a5b; }
  .container__content {
    display: flex; }
    .container__content--sidebar {
      background-color: #000000;
      flex: 0 0 18%; }
    .container__content--articles {
      background-color: #E7E7F2;
      flex: 1; }

/* reasons features */
.page-content {
  background-color: #FFFDD0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 0.2fr 1fr 1.2fr 0.3fr;
  grid-template-areas: "title title navyBlue sheepImg1" "mossGreen sheepImg2 text ."; }
  .page-content__title {
    margin: 2rem;
    grid-area: title;
    align-self: center;
    justify-self: center; }
  .page-content__description {
    padding: 5rem;
    grid-area: text; }

.entries {
  padding-bottom: 1rem; }

.navy-blue {
  grid-area: navyBlue;
  background-image: linear-gradient(#FFFDD0, #191970);
  opacity: 0.7; }

.moss-green {
  grid-area: mossGreen;
  background-image: linear-gradient(#8a9a5b, #FFFDD0);
  opacity: 0.7; }

.sheep-image--first {
  grid-area: sheepImg1;
  background: url(../images/ewes.png) left;
  background-size: cover; }

.sheep-image--second {
  grid-area: sheepImg2;
  background: url(../images/sheepAndMountain.png) bottom;
  background-size: cover; }

/* timeline features */
.timeline-container {
  background: url(../images/timeline.png) no-repeat top center fixed;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  /* grid CSS styles */
  display: grid;
  justify-items: center;
  grid-template-rows: 10rem repeat(6, min-content) 10rem;
  grid-template-columns: 1fr 10rem 1fr;
  grid-template-areas: ". vl ." "TL1st vl ." ". vl TL2nd" "TL3rd vl ." ".  vl TL4th" "TL5th vl ." ". vl TL6th" ". vl ."; }
  .timeline-container__item {
    background-color: #8a9a5b;
    color: #E7E7F2;
    padding: 2rem; }

.vertical-line {
  grid-area: vl;
  width: 1rem;
  background-color: black; }

.first-timeline {
  grid-area: TL1st; }

.second-timeline {
  grid-area: TL2nd; }

.third-timeline {
  grid-area: TL3rd; }

.fourth-timeline {
  grid-area: TL4th; }

.fifth-timeline {
  grid-area: TL5th; }

.sixth-timeline {
  grid-area: TL6th; }
