/*
COLORS:
*/
$color-navy: #191970;
$color-forest-green: #2D592D;
$color-moss-green: #8a9a5b; // rgba(138,154,91);
$color-cream: #FFFDD0;
$color-off-white: #E7E7F2; // rgba(231,231,242);
$color-grey: 	#606060;
$color-box-shadow: rgba(0, 0, 0, .2);
$color-black: #000000;
