/*
COLORS:
*/
$color-navy: #000031;
$color-moss-green: #8a9a5b; // rgba(138,154,91);
$color-forest-green: #1F541F; // rgba(31,84,31);
$color-off-white: #E7E7F2; // rgba(231,231,242);
$color-box-shadow: rgba(0, 0, 0, .2);
