.press-container {
  background: linear-gradient(rgba($color-light-grey, 0.9), rgba($color-grey, 0.9));
  display: grid;
  grid-template-rows: 40vh [title-start] 25vh [title-end main-start] min-content [main-end];
  grid-template-columns: [full-start] 1fr [center-start]
  repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
}
