<%- include("partials/header") -%>

  <body>

    <%- include("partials/navbar") -%>

    <div class="about-container">

      <div class="title-container">
        <h1 class="heading-primary__home page-title">
          <span class="heading-primary--main">About</span>
        </h1>
      </div>

      <div class="about-content">

          <div class="about-content__item about-content__item--1">
            <img class="about-content__img" src="glen.png" />
          </div>

          <div class="about-content__text--1">
            <p class="about-content__text">
              My aim is discovering, connecting and inspiring women across
              rural United Kingdom by sharing their stories from the land.
              More importantly than that, I want to become and be the person
              I needed when I was younger. Someone who can pass on whatever
              skills and know-how I have learnt to someone else who may not
              feel like they are good enough or valued enough but who have
              a dream to work within this amazing industry.
            </p>
          </div>

          <figure class="about-content__item about-content__item--2">
            <img class="about-content__img" src="dogInField.png"/>
          </figure>

          <div class="about-content__text--2">
            <p class="about-content__text">
              For the people who have encountered negativity to the point that
              it has affected their self worth and they are unsure what route
              to take next. It's for those people who are scared to take
              the leap in case someone tells them they can't do it.
              I want to be the person who tells them they can because I came,
              I did and I have achieved.
            </p>
          </div>

      </div>

    </div>

  </body>
</html>
