<%- include("partials/header") -%>

  <body>

    <%- include("partials/navbar") -%>

    <div class="blog-container">

      <div class="title-container">
        <h1 class="heading-primary__home page-title">
          <span class="heading-primary--main">Blog</span>
        </h1>
      </div>

      <div class="blog-content">

        <div class="blog-content__article blog-content__article--1">

          <div class="blog-content__item blog-content__item--1">
            <img src="blog-image1.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">July 26, 2020</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2020/07/first-class-honours.html"
              class="blog-content__link" target="_blank">
            First Class Honours...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--2">

          <div class="blog-content__item blog-content__item--2">
            <img src="blog-image2.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">June 07, 2020</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2020/06/discovering-connecting-and-inspiring.html"
              class="blog-content__link" target="_blank">
              Discovering, Connecting and Inspiring...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--3">

          <div class="blog-content__item blog-content__item--3">
            <img src="blog-image3.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">May 17, 2019</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2019/05/life-get-tough-sometimes.html"
              class="blog-content__link" target="_blank">
              Life Gets Tough Sometimes...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--4">

          <div class="blog-content__item blog-content__item--4">
            <img src="blog-image4.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">April 21, 2019</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2019/04/why-start-now_21.html"
              class="blog-content__link" target="_blank">
              Why Start Now...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--5">

          <div class="blog-content__item blog-content__item--5">
            <img src="blog-image5.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">September 05, 2018</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2018/09/a-helping-hand.html"
              class="blog-content__link" target="_blank">
              A Helping Hand</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--6">

          <div class="blog-content__item blog-content__item--6">
            <img src="blog-image6.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">July 07, 2018</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2018/07/if-you-truly-believe_7.html"
              class="blog-content__link" target="_blank">
              If You Truly Believe...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--7">

          <div class="blog-content__item blog-content__item--7">
            <img src="blog-image7.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">April 25, 2018</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2018/04/new-challengenew-bucket-list.html"
              class="blog-content__link" target="_blank">
              New Challenge...New Bucket List...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--8">

          <div class="blog-content__item blog-content__item--8">
            <img src="blog-image8.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">December 27, 2017</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2017/12/welcoming-2018.html"
              class="blog-content__link" target="_blank">
              Welcoming 2018...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--9">

          <div class="blog-content__item blog-content__item--9">
            <img src="blog-image9.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">November 12, 2017</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2017/11/when-hard-work-starts-to-pays-off.html"
              class="blog-content__link" target="_blank">
              When The Hard Work Starts To Pay Off</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--10">

          <div class="blog-content__item blog-content__item--10">
            <img src="blog-image10.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">April 26, 2016</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2016/04/in-need-of-new-bucket.html"
              class="blog-content__link" target="_blank">
              In Need Of A New Bucket...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--11">

          <div class="blog-content__item blog-content__item--11">
            <img src="blog-image11.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">March 31, 2016</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2016/03/this-farming-life.html"
              class="blog-content__link" target="_blank">
              This Farming Life...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--12">

          <div class="blog-content__item blog-content__item--12">
            <img src="blog-image12.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">March 03, 2016</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2016/03/it-good-to-be-back.html"
              class="blog-content__link" target="_blank">
              It's Good To Be Back...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--13">

          <div class="blog-content__item blog-content__item--13">
            <img src="blog-image13.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">January 23, 2016</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2016/01/the-feeling-of-disconnect.html"
              class="blog-content__link" target="_blank">
              The Feeling Of Disconnect...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--14">

          <div class="blog-content__item blog-content__item--14">
            <img src="blog-image14.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">December 27, 2015</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2015/12/2016what-will-it-bring.html"
              class="blog-content__link" target="_blank">
              2016...What Will It Bring?</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--15">

          <div class="blog-content__item blog-content__item--15">
            <img src="blog-image15.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">June 21, 2015</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2015/06/negative-voices.html"
              class="blog-content__link" target="_blank">
              Negative Voices</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--16">

          <div class="blog-content__item blog-content__item--16">
            <img src="blog-image17.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">May 09, 2015</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2015/05/stuck-at-cross-road.html"
              class="blog-content__link" target="_blank">
              Stuck At A Cross Road</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--17">

          <div class="blog-content__item blog-content__item--17">
            <img src="blog-image16.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">March 20, 2015</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2015/03/it-been-month.html"
              class="blog-content__link" target="_blank">
              It's Been A Month...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--18">

          <div class="blog-content__item blog-content__item--18">
            <img src="blog-image18.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">January 26, 2015</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2015/01/laughter-music-and-moo-moo.html"
              class="blog-content__link" target="_blank">
              Laughter, Music And Moo Moo's</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--19">

          <div class="blog-content__item blog-content__item--19">
            <img src="blog-image19.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">January 04, 2015</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2015/01/the-big-question.html"
              class="blog-content__link" target="_blank">
              The Big Question</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--20">

          <div class="blog-content__item blog-content__item--20">
            <img src="blog-image20.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">December 28, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/12/a-kiwi-christmas.html"
              class="blog-content__link" target="_blank">
              A Kiwi Christmas...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--21">

          <div class="blog-content__item blog-content__item--21">
            <img src="blog-image21.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">December 12, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/12/the-boys-have-arrived.html"
              class="blog-content__link" target="_blank">
              The Boys Have Arrived...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--22">

          <div class="blog-content__item blog-content__item--22">
            <img src="blog-image22.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">November 29, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/11/pink-bale-wrap.html"
              class="blog-content__link" target="_blank">
              Pink Bale Wrap</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--23">

          <div class="blog-content__item blog-content__item--23">
            <img src="blog-image23.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">November 25, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/11/te-anau-and-milford-sound.html"
              class="blog-content__link" target="_blank">
              Te Anau And Milford Sound</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--24">

          <div class="blog-content__item blog-content__item--24">
            <img src="blog-image24.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">November 16, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/11/new-job-roles.html"
              class="blog-content__link" target="_blank">
              New Job Roles...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--25">

          <div class="blog-content__item blog-content__item--25">
            <img src="blog-image25.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">November 03, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/11/1st-november-mating-begins.html"
              class="blog-content__link" target="_blank">
              1st November. Mating Begins.</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--26">

          <div class="blog-content__item blog-content__item--26">
            <img src="blog-image26.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">October 22, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/10/found-my-first.html"
              class="blog-content__link" target="_blank">
              Found My First...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--27">

          <div class="blog-content__item blog-content__item--27">
            <img src="blog-image27.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">October 19, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/10/preparation-for-mating-has-begun.html"
              class="blog-content__link" target="_blank">
              Preparation For Mating Has Begun...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--28">

          <div class="blog-content__item blog-content__item--28">
            <img src="blog-image28.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">September 23, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/09/calf-rearing-my-main-role.html"
              class="blog-content__link" target="_blank">
              Calf Rearing, My Main Role...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--29">

          <div class="blog-content__item blog-content__item--29">
            <img src="blog-image29.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">September 23, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/09/happier-healthier.html"
              class="blog-content__link" target="_blank">
              Happier. Healthier</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--30">

          <div class="blog-content__item blog-content__item--30">
            <img src="blog-image30.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">September 23, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/09/who-said-women-couldn-farm.html"
              class="blog-content__link" target="_blank">
              Who Said Women Couldn't Farm</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--31">

          <div class="blog-content__item blog-content__item--31">
            <img src="blog-image31.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">September 14th, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/09/24th-august-2014.html"
              class="blog-content__link" target="_blank">
              24th August 2014</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--32">

          <div class="blog-content__item blog-content__item--32">
            <img src="blog-image32.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">September 9th, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/09/one-month-has-gone.html"
              class="blog-content__link" target="_blank">
              One Month Has Gone</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--33">

          <div class="blog-content__item blog-content__item--33">
            <img src="blog-image33.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">August 24, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/08/i-arrived.html"
              class="blog-content__link" target="_blank">
              I've Arrived...</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--34">

          <div class="blog-content__item blog-content__item--34">
            <img src="blog-image34.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">July 13, 2014</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2014/07/it-time-to-leaveit-time-for-change.html"
              class="blog-content__link" target="_blank">
              It's Time To Leave...It's Time For A Change</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--35">

          <div class="blog-content__item blog-content__item--35">
            <img src="blog-image35.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">September 17, 2013</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2013/09/bbc-harvest-2013.html"
              class="blog-content__link" target="_blank">
              BBC Harvest 2013</a></h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--36">

          <div class="blog-content__item blog-content__item--36">
            <img src="blog-image36.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">March 16, 2013</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2013/03/hrh-prince-charles-on-bbcs-countryfile.html"
              class="blog-content__link" target="_blank">
              HRH Prince Charles On BBC's Countryfile</a> </h4>
          </div>

        </div>

        <div class="blog-content__article blog-content__article--37">

          <div class="blog-content__item blog-content__item--37">
            <img src="blog-image37.png" class="blog-content__img" />
          </div>

          <div class="blog-content__text">
            <h6 class="blog-content__date">February 21, 2013</h6>
            <h4 class="blog-content__title">
              <a href="https://freckledfarmher.blogspot.com/2013/02/photographing-farming.html"
              class="blog-content__link" target="_blank">
              Photographing Farming</a></h4>
          </div>

        </div>

      </div>

    </div>

  </body>
