<%- include("partials/header") -%>

  <body>

    <%- include("partials/navbar") -%>

    <div class="gallery-container">

      <div class="title-container">
        <h1 class="heading-primary__home page-title">
          <span class="heading-primary--main">Gallery</span>
        </h1>
      </div>

      <div class="gallery">
        <figure class="gallery__item gallery__item--1">
          <img class="gallery__img" src="Picture1.png"/>
        </figure>

        <figure class="gallery__item gallery__item--2">
          <img class="gallery__img" src="Picture2.png"/>
        </figure>

        <figure class="gallery__item gallery__item--3">
          <img class="gallery__img" src="Picture3.png"/>
        </figure>

        <figure class="gallery__item gallery__item--4">
          <img class="gallery__img" src="Picture4.png"/>
        </figure>

        <figure class="gallery__item gallery__item--5">
          <img class="gallery__img" src="Picture5.png"/>
        </figure>

        <figure class="gallery__item gallery__item--6">
          <img class="gallery__img" src="Picture6.png"/>
        </figure>

        <figure class="gallery__item gallery__item--7">
          <img class="gallery__img" src="Picture7.png"/>
        </figure>

        <figure class="gallery__item gallery__item--8">
          <img class="gallery__img" src="Picture8.png"/>
        </figure>

        <figure class="gallery__item gallery__item--9">
          <img class="gallery__img" src="sheepAndMountain.png"/>
        </figure>

        <figure class="gallery__item gallery__item--10">
          <img class="gallery__img" src="Picture10.png"/>
        </figure>

        <figure class="gallery__item gallery__item--11">
          <img class="gallery__img" src="Picture11.png"/>
        </figure>

        <figure class="gallery__item gallery__item--12">
          <img class="gallery__img" src="Picture12.png"/>
        </figure>

        <figure class="gallery__item gallery__item--13">
          <img class="gallery__img" src="Picture9.png"/>
        </figure>

        <figure class="gallery__item gallery__item--14">
          <img class="gallery__img" src="ewes.png"/>
        </figure>

      </div>

    </div>

  </body>
</html>
