<%- include("partials/header") -%>

  <body>

    <%- include("partials/navbar") -%>

    <div class="gallery-container">

      <div class="title-container">
        <h1 class="heading-primary__home page-title">
          <span class="heading-primary--main">Gallery</span>
        </h1>
      </div>

      <div class="gallery">
        <figure class="gallery__item gallery__item--1">
          <img class="gallery__img" src="ewes.png"/>
        </figure>

        <figure class="gallery__item gallery__item--2">
          <img class="gallery__img" src="sheepInGrass.png"/>
        </figure>

        <figure class="gallery__item gallery__item--3">
          <img class="gallery__img" src="glen.png"/>
        </figure>

        <figure class="gallery__item gallery__item--4">
          <img class="gallery__img" src="meet.png"/>
        </figure>

        <figure class="gallery__item gallery__item--5">
          <img class="gallery__img" src="sheepAndMountain.png"/>
        </figure>

        <figure class="gallery__item gallery__item--6">
          <img class="gallery__img" src="meg.png"/>
        </figure>

        <figure class="gallery__item gallery__item--7">
          <img class="gallery__img" src="dogInField.png"/>
        </figure>

        <figure class="gallery__item gallery__item--8">
          <img class="gallery__img" src="timeline.png"/>
        </figure>

        <figure class="gallery__item gallery__item--9">
          <img class="gallery__img" src="blog-image1.png"/>
        </figure>

        <figure class="gallery__item gallery__item--10">
          <img class="gallery__img" src="blog-image2.png"/>
        </figure>

        <figure class="gallery__item gallery__item--11">
          <img class="gallery__img" src="blog-image3.png"/>
        </figure>

        <figure class="gallery__item gallery__item--12">
          <img class="gallery__img" src="blog-image4.png"/>
        </figure>

        <figure class="gallery__item gallery__item--13">
          <img class="gallery__img" src="blog-image5.png"/>
        </figure>

        <figure class="gallery__item gallery__item--14">
          <img class="gallery__img" src="blog-image6.png"/>
        </figure>

      </div>

    </div>

  </body>
</html>
