<%- include("partials/header") -%>

  <body>

    <!-- Main Body -->
    <header class="header">
      <div class="header__text-box">
        <h1 class="heading-primary__home">
          <span class="heading-primary--main">Freckled Farmher</span>
          <span class="heading-primary--sub">Discovering, Connecting and Inspiring stories from the land.</span>
        </h1>
        <a href="https://www.instagram.com/freckled_farmher/" target="_blank" class="btn btn--white"></a>
      </div>
    </header>

  <script src="javascript/index.js" charset="utf-8"></script>
  </body>
</html>
