<%- include("partials/header") -%>

  <body>

    <div class="lifegets-body">
      <div class="lifegets-title">
        <h1>Life Gets Tough Sometimes...</h1>
        <div class="lifegets__date">
          <h6>May 17, 2019</h6>
        </div>
      </div>

    <div class="lifegets-text">
      <div class="lifegets-content">
        <div class="lifegets-text__paragraph">
          <p>
          With this week marking mental health awareness week, it felt right that
          I should try and write something about my own personal journey.
          </p>
        </div>

        <div class="lifegets-text__paragraph">
          <p>
          The last few months have been tough, and I'm not afraid to admit it that
          I have been struggling both physically and mentally. There are times in
          life where we put our bodies into overdrive, run them like a machine on
          turbo power until they reach a point where by they are about to break.
          After gran passed away at the beginning of April, I began to see and
          feel signs of my depression symptoms returning which were similar to
          the ones I experienced when my grandfather passed away in 2011. It made
          me sit up and consider whether I needed some help with this new wave of
          grief I was experiencing, or whether the coping strategies I had learnt
          previously would get me through. However, it wasn't until I had some
          mental health first aid training with the DPJ Foundation through work
          that I realised something was actually wrong.
          </p>
        </div>

        <!-- Horizontal Rule -->
        <div class="container">
          <div class="lines">
            <div class="circle">
              &nbsp;
            </div>
          </div>
        </div>


        <div class="lifegets-text__paragraph">
          <p>
          I'm currently three weeks in to getting one-to-one counselling and
          I'm so grateful I found the courage to send that email to book an
          appointment in order for me to get help and advice. That for me felt
          like the tough part was over, but it has only just begun.
          </p>
        </div>

      <div class="lifegets-text__paragraph">
        <p>
        I almost feel like a fraud, as I have spent the past five years
        informing you all about my journey with depression and how I have found
        ways to overcome it through my career and adventures within agriculture.
        But it appears my depression has only been a very small fragment of my
        story through living with my own mental health.
        </p>
      </div>

      <div class="lifegets-text__paragraph">
        <p>
        I've come to learn in the first couple of counselling sessions
        that it is actually anxiety that I have been battling with, which in
        turn caused my depression to flair up, which in turn, has again returned
        to me struggling with anxiety but on a much larger scale. Anxiety was
        something which had never crossed my mind, I'd always envisioned
        anxiety as someone having a panic attack and breathing into a paper
        bag because they had wound themselves up so much when it came to
        carrying out a certain task. I'm not aware that I've ever experienced
        a panic attack, and therefore it's taken some time for the news to sink
        in and for me to realise that situations have happend in my life simply
        because of my mindset and ways of irrational thinking which my anxiety
        has caused. I simply thought it was the 'done thing' to every now and
        then get stressed out about things, it's what being an adult is all
        about right? Wrong!
        </p>
      </div>

      <!-- Horizontal Rule -->
      <div class="container">
        <div class="lines">
          <div class="circle">
            &nbsp;
          </div>
        </div>
      </div>

      <div class="lifegets-text__paragraph">
        <p>
        It's been fascinating to learn how our brains are wired to work
        and these valuable one-to-one sessions have provided me with an
        understanding of what areas of my brain have completely taken over
        and taken complete control of my life and mindset, and which areas
        have worryingly completely switched off.
        </p>
      </div>



      <div class="lifegets-text__paragraph">
        <p>
        There is no denying that nearly every person battles with anxiety
        at some point in their lives, whether it's a small amount of anxiety
        or chronic . It's raising my awareness of the fact that it really
        really is so important to talk to someone, anyone, when you are not
        completely feeling yourself. When your unsure about feelings and
        situations within your life. So what if you think you'll sound stupid
        or pathetic, it's a start. It's a start to you getting the thoughts
        that you can't control or understand out of your head and into the
        area of trust you feel most confident. This could be your best friend,
        a parent or family member, on a piece of paper or in a journal or an
        actual counsellor like I have chosen. Just get it out of your head
        where someone else can help you understand what's going on. We hear
        so many celebrity stories of how they have needed to get counselling
        to help them out, why should we be any different?
        </p>
      </div>

      <div class="lifegets-text__paragraph">
        <p>
        I'm aware this new journey of discovery is going to be a completely new
        road for me to travel. It's going to take a very long time to get used
        to living my life with a completely new mindset. There's been a recent
        song released which has lyrics in it that is continuously stuck in my
        head. It is by a woman called Lauren Daigle and the line in the song is
        </p>
      </div>

      <div class="lifegets-text__paragraph">
        <p>
        'Remind me once again just who I am because I need to know'
        </p>
      </div>

      <div class="lifegets-text__paragraph">
        <p>
        This has never felt so true and felt so strong to me right now. I'm
        just glad I was aware of the fact I needed that little bit of extra
        help to get me through the grief of loosing my grandmother.
        </p>
      </div>

      <!-- Horizontal Rule -->
      <div class="container">
        <div class="lines">
          <div class="circle">
            &nbsp;
          </div>
        </div>
      </div>

      <div class="lifegets-text__paragraph">
        <p>
        I have never been at a stage in my life where I have thought it would
        be better if I just finish it, that there was no point in me being
        around anymore. And I am extremely thankful that I have never had to
        encounter those types of personal feelings. I am just very grateful
        that I am aware when things are not quite right, and am able to find
        the confidence to do something about it, even though it takes a very
        long time for me to take that first step.
        </p>
      </div>



      <div class="lifegets-text__paragraph">
        <p>
        So if you are reading this and you are not quite feeling yourself
        at the moment. If you are feeling lost or as if there is no point
        in continuing on with your life. Just make me one promise, that
        you will turn to someone and just talk. There is always someone
        out there willing to listen and help you through your tough situations.
        </p>
      </div>

      <div class="lifegets-text__paragraph">
        <p>
        Until next time.
        </p>
      </div>

      <div class="lifegets-text__paragraph">
        <p>
        H xx
        </p>
      </div>

        </div>
      </div>
    </div>
  </body>
</html>
