<%- include("partials/header") -%>

  <body>

    <%- include("partials/navbar") -%>

    <div class="meet-container">

      <div class="title-container">
        <h1 class="heading-primary__home page-title">
          <span class="heading-primary--main">Meet the team</span>
        </h1>
      </div>

      <div class="features">

        <div class="feature">
          <img class="feature__img" src="meet.png" />

          <div class="feature-heading">
            <h4 class="feature__heading">Hannah</h4>
            <h5 class="feature__subheading">Chief Farming Officer</h5>
          </div>

          <p class="feature__text">I'm a agricultural professional based in
          South Wales. My motto is I'm grateful for the small things in life.
          </p>
          <p class="feature__text">Telling my rural story with blog posts
          and regular Instagram uploads, I hope to spread awareness of farmings
          important role in contemporary British society.
          </p>
        </div>

        <div class="feature">
          <img class="feature__img" src="meg.png"/>

          <div class="feature-heading">
            <h4 class="feature__heading">Meg</h4>
            <h5 class="feature__subheading">Head of Agricultural Affairs</h5>
          </div>

          <p class="feature__text">
          Semi retired but still the boss, Meg is the
          longest serving member of the team with over 13 years experience in
          gathering sheep and hoovering up snacks from under the kitchen table.
          </p>
          <p class="feature__text">
          Taking a step back in recent years from the more intense livestock
          jobs, Meg is now often  found overseeing the rest of the team whilst
          taking naps and snoring loudly whenever she disapproves of something.
          </p>
        </div>

        <div class="feature">
          <img class="feature__img" src="glen.png"/>

          <div class="feature-heading">
            <h4 class="feature__heading">Glen</h4>
            <h5 class="feature__subheading">Trainee Farm Support Manager</h5>
          </div>

          <p class="feature__text">
          Lacking patience but full of energy, Glen can be found sitting at
          Hannah’s feet waiting on his next command.
          The most sociable member of the team, Glen loves to start each day by
          saying hello and hugging everyone.
          </p>
          <p class="feature__text">
          As the team's youngest member, Glen still has a lot to learn but his
          optimism and enthusiasm shows he has a promising future when it comes
          to rounding up sheep.
          </p>
        </div>

      </div>

    </div>

  </body>
</html>
