<%- include("partials/header") -%>

  <body>

    <%- include("partials/navbar") -%>

    <div class="press-container">

      <div class="title-container">
        <h1 class="heading-primary__home page-title">
          <span class="heading-primary--main">
            Press
          </span>
        </h1>
      </div>

    </div>

  </body>
