<%- include("partials/header") -%>

  <body>
    <!-- Navbar -->
    <div class="small-nav">
     <input type="checkbox" class="small-nav__checkbox" id="nav-toggle" />

     <label for="nav-toggle" class="small-nav__button" />
       <span class="small-nav__icon">&nbsp;</span>
     </label>

     <div class="small-nav__background">&nbsp;</div>

     <nav class="small-nav__nav">
      <ul class="small-nav__list">
        <li class="small-nav__item"><a href="../index.html" class="small-nav__link">Home</a></li>
        <li class="small-nav__item"><a href="../portal.html" class="small-nav__link">Blog Portal</a></li>
        <li class="small-nav__item"><a href="../timeline.html" class="small-nav__link">Timeline of Events</a></li>
      </ul>
     </nav>
    </div>

    <!-- Page Content -->
    <div class="page-content">

      <div class="sheep-image--first">
        &nbsp;
      </div>

      <div class="sheep-image--second">
        &nbsp;
      </div>

      <div class="navy-blue">
        &nbsp;
      </div>

      <div class="moss-green">
        &nbsp;
      </div>

      <div class="page-content__title">
        <h1>
          Reasons for doing this....
        </h1>
      </div>
      <div class="page-content__description card">
        <div class="entries card__side">
          <p>
            The silent heroes of the land. The strong, decisive, caring and resilient.
            The mothers, daughters, sisters and friends. They are the women of the land.
          </p>
          </div>
        <div class="entries">
          <p>
            Growing up, I have fond memories of many women living and working within my rural
            community and as a young woman I found myself being surrounded by these loving,
            determined and family orientated ladies. I was always amazed by the contributions
            they brought to their homes, businesses and rural landscapes.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
