<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta htts-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="css/style.css" />
    <title>Why start now...</title>
  </head>

  <body>
    <!-- Navbar -->
    <div class="small-nav">
     <input type="checkbox" class="small-nav__checkbox" id="nav-toggle" />

     <label for="nav-toggle" class="small-nav__button">
       <span class="small-nav__icon">&nbsp;</span>
      </label>

     <div class="small-nav__background">&nbsp;</div>

     <nav class="small-nav__nav">
      <ul class="small-nav__list">
        <li class="small-nav__item"><a href="../index.html" class="small-nav__link">Home</a></li>
        <li class="small-nav__item"><a href="../reasons.html" class="small-nav__link">Reasons for doing this...</a></li>
        <li class="small-nav__item"><a href="../portal.html" class="small-nav__link">Blog Portal</a></li>
        <li class="small-nav__item"><a href="../timeline.html" class="small-nav__link">Timeline of Events</a></li>
      </ul>
     </nav>
    </div>

    <div class="blog-body">
      <div class="blog-title">
        <h1>Why start now...</h1>
        <div class="blog-title__date">
          <h6>April 21, 2019</h6>
        </div>
      </div>


  <div class="blog-text">
    <div class="blog-content">
      <div class="blog-text__paragraph">
        <p>
        The past six months, to say the least, have not been the easiest.
        Words such as exhausted, autopilot and extremely stressful don't come
        close to describing how they have been for not just myself, but also
        close family and friends. However, there appeared to be a light at the
        end of the tunnel. It was only a very faint light, but it was there and
        with our fingers crossed we hoped it would get bigger and brighter the
        closer we got to happier times.
        </p>
      </div>

      <div class="blog-text__paragraph">
        <p>
        We were aware that the weeks and months that were to lie ahead of us
        would bring with them new challenges and experiences of a kind we'd
        never had to encounter before. I was a little nervous, but completely
        determined to do the best I could in order to provide the personal care
        and commitment required for the task. I was aware there was a need to
        sacrifice other areas of my life in the meantime which I was more than
        happy to do.
        </p>
      </div>

      <!-- Horizontal Rule -->
      <div class="container">
        <div class="lines">
          <div class="circle">
            &nbsp;
          </div>
        </div>
      </div>

      <div class="blog-text__paragraph">
        <p>
        However, in just ten days there was no longer a need for the nerves.
        No longer a need for the courage to tackle new challenges and
        experiences. No need to panic when something wasn't quite working how
        we'd been taught. No longer a need to fill a room with positivity and
        laughter when the atmosphere appeared a little low. The new life
        skills which we had been trained with only a number of weeks before
        were no longer required. There was just emptiness and silence.
        </p>
      </div>

      <div class="blog-text__paragraph">
        <p>
        My grandmother was my idol. My farming hero. A woman I have loved and
        greatly admired all my life. An independent woman with a heart so full
        of love and care and a smile that was so contagious that you couldn't
        avoid being in her company. She was a second mother to me growing up
        on the family farm, and has taught me a huge amount of life skills
        that I will never forget. She was never one for any confrontation and
        always provided wise words when you didn't realise you needed them.
        A lady who in the past eight years of the life has had to encounter a
        large number of challenges and health issues, but with a smile on her
        face and that wicked twinkle in her eye she kept positively moving
        forward. A true inspiration to me, and a lady I am going to miss
        greatly. A huge hole has been left in my heart.
        </p>
      </div>

      <div class="blog-text__paragraph">
        <p>
        I've always questioned over the past number of years, if it's my
        grandmother that I get my strength and determination from. She was an
        only child, who was born into a farming family and therefore was
        required to take over the family farming business when her time
        came to do so. An extremely strong woman, with a clear idea for what
        she wanted and enjoyed doing in life. The simple things pleased her
        and memories and stories about family and friends were all she needed.
        She had a strong knowledge of the family farm and its surrounding
        rural community and enjoyed socialising within it.
        </p>
      </div>

      <!-- Horizontal Rule -->
      <div class="container">
        <div class="lines">
          <div class="circle">
            &nbsp;
          </div>
        </div>
      </div>

      <div class="blog-text__paragraph">
        <p>
        A number of people told us that caring for gran would be hard, and even
        that my life would be over. But if there is one thing I knew most from
        the last six months of gran being in hospital, was that the one place
        she wanted to be the most, was at her home. The place she had been born,
        raised, spent all her life at, and in her last few days, where she
        wished for it to end. She was where she wanted to be. She was where
        she was at her happiest, and I sure as hell wasn't going to stop her
        getting what she wanted.
        </p>
      </div>

      <div class="blog-text__paragraph">
        <p>
        In the last few weeks of grans life, she left me with some strong
        statements which are still, and will for a while yet, keep rolling over
        in my mind. Statements of advice, wise words, and life long values.
        In a funny way my grandmother has given me a new spark of determination
        to keep going with my farming dream. A spark I felt I had lost half way
        through 2018. I'd been extremely frustrated, angry, annoyed, fed up
        and almost felt like my life had settled before I was ready for it to
        do so. It made me feel uneasy and uncomfortable. My grandmother
        literally was my farming hero, and to have heard so many amazing
        stories these past two weeks about her youth working on the family
        farm, and her get on and just do it attitude and determination, really
        has made me think about where my life is heading next.
        </p>
      </div>

      <div class="blog-text__paragraph">
        <p>
        I'm a woman who's had to fight for an awful lot of things in my life up
        until now just to prove people wrong, and I don't feel I have much to
        show for it. I'm tired. And I'm tired of having to continue to fight.
        With gran now gone I have gained so much extra time in not just my days,
        but weeks also, that I'm not quite sure where to start. But I know
        something new is needed and I've questioned myself as to why I should
        start now?
        </p>
      </div>

      <!-- Horizontal Rule -->
      <div class="container">
        <div class="lines">
          <div class="circle">
            &nbsp;
          </div>
        </div>
      </div>

      <div class="blog-text__paragraph">
        <p>
        I've been fortunate enough in the last few months with work to be able
        to listen to some truely inspiring speakers who had made me realise
        when I had been feeling a little low, that I may be in need of a good
        old 'kick up the backside' to go and broaden my farming knowledge
        further through potentially new and exciting challenges or by
        experiencing new locations.
        </p>
      </div>

      <div class="blog-text__paragraph">
        <p>
        Heather Wildman was probably the most inspirational speaker out of them
        all and hearing her story of living and working in the rural communities
        really made me want to change my thought process moving forward with my
        future in a more positive and motivating way. Emma Bullhook, the founder
        of the DPJ Foundation provided us with mental health first aid training
        which I was personally very grateful for learning about, not just for
        my job role but also for myself personally. It made me realise that I
        was seriously in a rut and that I am someone who does no self care at
        all. Therefore for someone who has gained so much free time now, this
        has become a high priority on my list. I just need to find out what
        it is I want to do.
        </p>
      </div>

      <div class="blog-text__paragraph">
        <p>
        I have also recently finished reading Doug Avery, The Resilient
        Farmer's book. His story of struggling with mental ill health whilst
        running a farming business really hit home for me and if I ever get
        the chance to meet him, I'd be a very thankful woman. Over the last
        number of years I have come to find reading other people's stories
        really helps me to explain and understand that I am not the only person
        who gets moments of feeling low and thinking that the negativity will
        never end. I've come a long way with understanding and living with my
        own mental health in the past number of years, and I'm forever grateful
        when I come across another individual who has overcome or is  working
        through and trying to overcome their own battles with mental ill health.
        </p>
      </div>

      <!-- Horizontal Rule -->
      <div class="container">
        <div class="lines">
          <div class="circle">
            &nbsp;
          </div>
        </div>
      </div>

      <div class="blog-text__paragraph">
        <p>
        When gran was discharged from hospital, I bought 'Strong Girls Club'
        t-shirts for both mum and I as a joke for being grans in house carers.
        Gran loved them and with that twinkle in her eye gave a little chuckle
        and a thumbs up of approval. Unfortunately we never got the chance to
        wear them in the 10days gran was home. Since her passing and since her
        funeral, the days I have chosen to wear my t-shirt, I haven't wanted
        to take it off. The Strong Girls Club slogan has come to mean so much
        more now than just being linked with being grans career. Gran was a
        strong woman for being the fourth generation to run her family farm,
        and now it's my turn to step up and to be the strong woman who aims to
        continue working in the UK agricultural sector with my head held high.
        It's a reminder that I can achieve what I want if I just work hard and
        have a clear mindset. Gran was one of my main supporters and motivators
        in recent years and I'll never ever forget that. It's time for me to be
        the farmher she knew I could be. With a smile on my face I aim
        to achieve.
        </p>
      </div>

      <div class="blog-text__paragraph">
        <p>
        I walked around the whole farm on the morning of grans funeral with the
        two dogs Duke and Glen. The birdsong was amazing to hear and the sun
        was shining so brightly that you couldn't help but smile. The past six
        months of grans ill health taught me to be grateful for the small things
        in life. The days filled with laughter and the hours spent in silence at
        her hospital bed. The hard earned hours working on her physio to try
        and get her to stand again and the 3.30am renditions of gran singing
        Tom Jones' Delilah. All will be memories I will cherish forever. The
        big things really don't matter, it's the small things we all need to
        be grateful for.
        </p>
      </div>

      <div class="blog-text__paragraph">
        <p>
        My Strong Girls Club has lost an extremely valuable member this past
        month, but her memory and traditions will live on in the remaining group
        members hearts and minds and I personally am going to make damn sure
        of it!
        </p>
      </div>

      <div class="blog-text__paragraph">
        <p>
        H xx
        </p>
      </div>

      </div>
    </div>
    </div>
  </body>
</html>
