.page-content {
  background-color: $color-cream;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 0.2fr 1fr 1.2fr 0.3fr;
  grid-template-areas: "title title navyBlue sheepImg1"
                       "mossGreen sheepImg2 text .";
    &__title {
      margin: 2rem;
      grid-area: title;
      align-self: center;
      justify-self: center;
    }
    &__description {
      padding: 5rem;
      grid-area: text;
    }
}

.entries {
  padding-bottom: 1rem;
}

.navy-blue {
  grid-area: navyBlue;
  background-image: linear-gradient($color-cream, $color-moss-green);
  opacity: 0.7;
}

.moss-green {
  grid-area: mossGreen;
  background-image: linear-gradient($color-moss-green, $color-cream);
  opacity: 0.7;
}

.sheep-image--first {
  grid-area: sheepImg1;
  background: url('ewes.png') left;
  background-size: cover;
}

.sheep-image--second {
  grid-area: sheepImg2;
  background: url('sheepAndMountain.png') bottom;
  background-size: cover;
}
