.blog-content {
  padding: 1rem;
  margin: 2rem;
  text-transform: uppercase;
  &__text {
    background-color: $color-moss-green;
  }
  &__date {
    color: $color-light-grey;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0.5rem 0;
    @include respond(tab-land) {
      font-size: 1.75rem;
    }
    @include respond(tab-port) {
      font-size: 1.5rem;
    }
  }
  &__title {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
    text-align: center;
    @include respond(tab-land) {
      font-size: 2rem;
    }
    @include respond(tab-port) {
      font-size: 1.75rem;
    }
  }
  &__link {
    color: $color-off-white;
    text-decoration: none;
    display: inline-block;
  }
  &__link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: $color-off-white;
    transition: width .5s;
  }
  &__link:hover::after {
    width: 100%;
    transition: width .5s;
  }
}
