body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
}

ul {
  list-style-type: none;
}

.navigation {
  &__link,
  &__link:visited,
  &__link:active,
  &__link:hover {
  text-align: center;
  position: relative;
  top: 3rem;
  text-decoration: none;
  color: $color-moss-green;
  text-transform: uppercase;
  font-size: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: all .3s;
    @include respond(tab-land) {
      font-size: 4.5rem;
    }
    @include respond(tab-port) {
      font-size: 3.5rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
}

.navigation__link:hover {
  cursor: pointer;
  transform: scale(1.07);
  color: $color-grey;
}

/* secondary pages titles */
.title-container {
  text-align: center;
}

.title-container {
  background-color: $color-moss-green;
  grid-column: center-start / center-end;
  grid-row: title-start / title-end;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas: "."
                       "page-title"
                       ".";
}

.page-title {
  grid-area: page-title;
}
