/* header text */
.heading-primary {
  &__home {
  color: $color-off-white;
  }

  /* title */
  &--main {
    display: block;
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    backface-visibility: hidden;
    animation-duration: 2s;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .3rem;
    animation: moveInRight 2s;
    margin-bottom: 4rem;
  }
}

.home-title {
  margin-bottom: 4rem;
}
