.feature {
  &__heading {
    text-align: center;
    color: $color-grey;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
    padding: 1rem 1rem 0.5rem;
    grid-row: 1 /2;
    @include respond(tab-land) {
      font-size: 3.5rem;
    }
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
  &__subheading {
    text-align: center;
    text-decoration: underline;
    color: $color-moss-green;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    padding: 0rem 1rem 1rem;
    @include respond(tab-land) {
      font-size: 2.5rem;
    }
    @include respond(tab-port) {
      font-size: 2rem;
    }
  }
  &__text {
    color: $color-mid-grey;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    padding: 1rem;
    margin: 0.5rem 0 2rem 0;
    grid-column: 1 / span 2;
    @include respond(tab-land) {
      font-size: 3.5rem;
    }
    @include respond(tab-port) {
      font-size: 3rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
}
