.header {
  background: linear-gradient(rgba($color-moss-green, 0.7), rgba($color-moss-green, 0.9)),
     url('hannahImg.png') no-repeat top center fixed;
  background-size: cover;
  height: 130vh;
  display: grid;
  grid-template-rows: 45vh [main-start] min-content [main-end];
  grid-template-columns: [full-start] 1fr [center-start]
  repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];

  &__text-box {
    text-align: center;
    grid-row: main-start / main-end;
    grid-column: center-start / center-end;
  }
}
