.header {
  position: relative;
  background: linear-gradient(rgba($color-navy, 0.7), rgba($color-navy, 0.9)),
     url('hannahImgSmall.png') no-repeat top center fixed;
  background-size: cover;
  height: 120vh;

  @media only screen and  (min-resolution: 192dpi) and (min-width: 600px),
  only screen and  (min-width: 800px) {
    background: linear-gradient(rgba($color-moss-green, 0.7), rgba($color-moss-green, 0.9)),
        url('hannahImg.png') no-repeat top center fixed;
    background-size: cover;
    height: 100vh;
  }

  &__text-box {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
